/* Site Padding */
* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* headers */
h1{
    background-color: dodgerblue;
    text-align: center;
    font-size: 65px    
}

/* About Me section */
#about_me{
    position: absolute;
    left: 250px;
    margin-top: 12px;
    border: 3px solid white;
    padding: 2px;
}

.about_me{
    position: relative;
    background-color: dodgerblue;
    margin-top: 25px;
    height: 296px;
}

.about_me p{
    position: absolute;
    left: 250px;
    top: 65px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
}

/* My Work section */
.my_work{
    position: relative;
    background-color: dodgerblue;
    margin-top: 25px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#my_work{
    position: absolute;
    margin-top: 12px;
    border: 3px solid white;
    padding: 2px;
}

/* Contact Me section */
.contact_me{
    position: relative;
    background-color: dodgerblue;
    margin-top: 25px;
    height: 200px;
}

.contact_me ul{
    position: absolute;
    top: 65px;
    font-size: 20px;
}

#contact_me{
    position: absolute;
    margin-top: 12px;
    border: 3px solid white;
    padding: 2px;
}

/* Image Size & placement & border */
.profile_pic{
    width: 200px;
    position: absolute;
    padding: 15px;
    bottom: 3px;
}

.centering_images{
    position: absolute;
    width: 100%;
    display: flex
    
 }

.work_images{
    width: 85%;
    flex-grow: 1;
    border: 5px solid black;
    border-radius: 8px;
    margin-left: 7%;
    margin-top: 650px;
}

.main_image{
    width: 100%;
    height: 400px;
    border: 5px solid black;
    border-radius: 8px;
    margin-top: 150px;
}

/* Site Name Styling */
.site_names{
    font-size: 200%;
    color: goldenrod;
    text-align: center;
}

/* Buttons */
.button_position{
    background-color: darkred;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 5px;
}
.button_position a{
    font-size: 200%;
    background-color: aliceblue;
    text-decoration: none;
    color: goldenrod;
    border-radius: 8px;
    padding: 5px;
}

/* Responsive Layout */
@media screen and (max-width: 768px){
    .my_work{
        height: 800px;
    }
}